NAHLNOrderConstrained.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ******* Version 0.0 of the NAHLN Base Order Schema ******* -->
<!--
This is the basic schema for all NAHLN laboratory order messages.  

It includes all fields that we anticipate needing in any of the disease 
program or surveillance testing.  It requires only the minimum needed 
for all types of testing.	

This version does not put EpiData in an external namespace.  
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hl7="urn:hl7-org:v2xml">
	<xsd:simpleType name="OID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(\s)*(([1-9][0-9]*)|(0))(\.(([1-9][0-9]*)|(0)))+(\s)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="COUNTRYCODE">
		<!-- 11/30/2007 Slinke Added Expression to validate Area Code -->
		<xsd:restriction base="xsd:int">
			<xsd:pattern value="[1-9]{1}\d*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AREACODE">
		<!-- 11/30/2007 Slinke Added Expression to validate Area Code -->
		<xsd:restriction base="xsd:int">
			<xsd:pattern value="[2-9]{1}\d{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PHONENUMBER">
		<!-- 11/30/2007 Slinke Added Expression to validate Phone Num -->
		<xsd:restriction base="xsd:int">
			<xsd:pattern value="\d{7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EXTENSION">
		<!-- 11/30/2007 Slinke Added Expression to validate Extension -->
		<xsd:restriction base="xsd:int">
			<xsd:pattern value="\d{1,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ISO">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="ISO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UNITS">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ISO+"/>
			<xsd:enumeration value="ANS+"/>
			<xsd:enumeration value="UCUM"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LN">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LN"/>
			<!-- if sending real LOINC -->
			<!-- where do we use this type intending to allow either? -->
			<xsd:enumeration value="L"/>
			<!-- if you must send local codes -->
		</xsd:restriction>
	</xsd:simpleType>
	<!-- HL7 coding system constant for local code -->
	<xsd:simpleType name="Local">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="L"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LNorLocal">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LN"/>
			<xsd:enumeration value="L"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateTime">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="(\d{4}(((0[1-9])|(1[0-2]))(((0[1-9])|([1-2]\d)|(3[0-1]))((([01]\d|2[0-3])([0-5]\d))(([0-5]\d)((\.\d{1,4}))?)?)?)?)?([+\-](([0]\d|1[0-3])([0-5]\d)))?)?"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CondDateTime">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="(\d{4}(((0[1-9])|(1[0-2]))(((0[1-9])|([1-2]\d)|(3[0-1]))((([01]\d|2[0-3])([0-5]\d))(([0-5]\d)((\.\d{1,4}))?)?)?)?)?([+\-](([0]\d|1[0-3])([0-5]\d)))?)?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StateCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AK"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="AR"/>
			<xsd:enumeration value="AS"/>
			<xsd:enumeration value="AZ"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="CT"/>
			<xsd:enumeration value="DC"/>
			<xsd:enumeration value="DE"/>
			<xsd:enumeration value="FL"/>
			<xsd:enumeration value="FM"/>
			<xsd:enumeration value="GA"/>
			<xsd:enumeration value="GB"/>
			<xsd:enumeration value="GU"/>
			<xsd:enumeration value="HI"/>
			<xsd:enumeration value="IA"/>
			<xsd:enumeration value="ID"/>
			<xsd:enumeration value="IL"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="KS"/>
			<xsd:enumeration value="KY"/>
			<xsd:enumeration value="LA"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="MD"/>
			<xsd:enumeration value="ME"/>
			<xsd:enumeration value="MH"/>
			<xsd:enumeration value="MI"/>
			<xsd:enumeration value="MN"/>
			<xsd:enumeration value="MO"/>
			<xsd:enumeration value="MP"/>
			<xsd:enumeration value="MS"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="ND"/>
			<xsd:enumeration value="NE"/>
			<xsd:enumeration value="NH"/>
			<xsd:enumeration value="NJ"/>
			<xsd:enumeration value="NM"/>
			<xsd:enumeration value="NV"/>
			<xsd:enumeration value="NY"/>
			<xsd:enumeration value="OH"/>
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="OR"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="PR"/>
			<xsd:enumeration value="PW"/>
			<xsd:enumeration value="PZ"/>
			<xsd:enumeration value="RI"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="TN"/>
			<xsd:enumeration value="TX"/>
			<xsd:enumeration value="UM"/>
			<xsd:enumeration value="UT"/>
			<xsd:enumeration value="VA"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="VT"/>
			<xsd:enumeration value="WA"/>
			<xsd:enumeration value="WI"/>
			<xsd:enumeration value="WK"/>
			<xsd:enumeration value="WV"/>
			<xsd:enumeration value="WY"/>
			<xsd:enumeration value="ZK"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ZIPCODE">
		<!-- 11/30/2007 Slinke Added Expression to validate Extension -->
		<xsd:restriction base="xsd:int">
			<xsd:pattern value="\d{5}|\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YN">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IDType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ANON"/>
			<!-- Anonymous identifier -->
			<xsd:enumeration value="B"/>
			<!-- Band -->
			<xsd:enumeration value="BL"/>
			<!-- Band, Leg  -->
			<xsd:enumeration value="BR"/>
			<!-- Birth registry number -->
			<xsd:enumeration value="BRD"/>
			<!-- Brand -->
			<xsd:enumeration value="BRF"/>
			<!-- Brand, Freeze  -->
			<xsd:enumeration value="BRH"/>
			<!-- Brand, Hot Iron  -->
			<xsd:enumeration value="BRN"/>
			<!-- Breed Registry Number -->
			<xsd:enumeration value="CSID"/>
			<!-- Collection Site Identification number -->
			<xsd:enumeration value="FI"/>
			<!-- Facility ID -->
			<xsd:enumeration value="GI"/>
			<!-- Guarantor internal identifier -->
			<xsd:enumeration value="GN"/>
			<!-- Guarantor external  identifier -->
			<xsd:enumeration value="GRID"/>
			<!-- Group Identifier -->
			<xsd:enumeration value="LR"/>
			<!-- Local Registry ID -->
			<xsd:enumeration value="MCN"/>
			<!-- Microchip Number -->
			<xsd:enumeration value="MR"/>
			<!-- Medical record number -->
			<xsd:enumeration value="MRT"/>
			<!-- Temporary Medical Record Number -->
			<xsd:enumeration value="N"/>
			<!-- Notch -->
			<xsd:enumeration value="NCHN"/>
			<!-- Neck Chain Identifier -->
			<xsd:enumeration value="NE"/>
			<!-- Notch, Ear  -->
			<xsd:enumeration value="NF"/>
			<!-- Notch, Fin  -->
			<xsd:enumeration value="PE"/>
			<!-- Living Subject Enterprise Number -->
			<xsd:enumeration value="PNT"/>
			<!-- Temporary Living Subject Number -->
			<xsd:enumeration value="PT"/>
			<!-- Patient external identifier -->
			<xsd:enumeration value="QA"/>
			<!-- QA number -->
			<xsd:enumeration value="RRI"/>
			<!-- Regional Registry Number -->
			<xsd:enumeration value="SR"/>
			<!-- State Registry Number -->
			<xsd:enumeration value="TAG"/>
			<!-- Tag -->
			<xsd:enumeration value="TAGB"/>
			<!-- Tag, Back -->
			<xsd:enumeration value="TAGC"/>
			<!-- Tag, FSIS Condemnation  -->
			<xsd:enumeration value="TAGE"/>
			<!-- Tag, Ear -->
			<xsd:enumeration value="TAGF"/>
			<!-- Tag, Fin  -->
			<xsd:enumeration value="TAGN"/>
			<!-- Tag, Neck  -->
			<xsd:enumeration value="TAGOB "/>
			<!-- Tag, Official USDA Bangle  -->
			<xsd:enumeration value="TAGOE"/>
			<!-- Tag, Owner Ear -->
			<xsd:enumeration value="TAGOS"/>
			<!-- Tag, Official USDA Silver  -->
			<xsd:enumeration value="TAGOV"/>
			<!-- Tag, Official USDA Vaccination  -->
			<xsd:enumeration value="TAGT"/>
			<!-- Tag, Tail -->
			<xsd:enumeration value="TAGW"/>
			<!-- Tag, Wing  -->
			<xsd:enumeration value="TAT"/>
			<!-- Tattoo -->
			<xsd:enumeration value="TATB"/>
			<!-- Tattoo, Body  -->
			<xsd:enumeration value="TATE"/>
			<!-- Tattoo, Ear  -->
			<xsd:enumeration value="TATL"/>
			<!-- Tattoo, Lip  -->
			<xsd:enumeration value="U"/>
			<!-- Unspecified identifier -->
			<xsd:enumeration value="USAIN"/>
			<!-- United Stated Animal Identification Number -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SCT">
		<!-- Snomed Coding System -->
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SCT"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nonNullString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="OPL_O37">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Header consists of MSH for Routing and PV1 for Accession Number -->
				<xsd:element ref="MSH"/>
				<xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded"/>
				<!-- Submitter needed by lab.  Not always sent back in result message so required here -->
				<xsd:element ref="ROL" minOccurs="1" maxOccurs="unbounded"/>
				<xsd:element ref="GT1" minOccurs="1" maxOccurs="unbounded"/>
				<!-- Followed by one or more animal or pool groups (Orders)
				     NOTE: Naming is confusing relative to the Result message -->
				<xsd:element ref="OPL_O37.ORDER" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- The MSH segment is almost all either NAHLN or Lab Constants 
		Insert date/time of message and message control id at run time.
	 -->
	<xsd:element name="MSH">
		<xsd:complexType>
			<xsd:sequence>
				<!-- NAHLN Constant | -->
				<xsd:element name="MSH.1" minOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="nonNullString">
							<xsd:enumeration value="|"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<!-- NAHLN Constant ^~\&amp; -->
				<xsd:element name="MSH.2" minOccurs="1">
					<xsd:simpleType>
						<!--4/30/2008 Slinke.  Removed enum value due to rhapsody bug-->
						<xsd:restriction base="nonNullString"/>
					</xsd:simpleType>
				</xsd:element>
				<!-- Sending application -->
				<xsd:element name="MSH.3" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Lab Constant Application Abbrev -->
							<xsd:element name="HD.1" type="nonNullString"/>
							<!-- Lab Constant Application Names OID -->
							<xsd:element name="HD.2" type="OID"/>
							<!-- NAHLN Constant ISO -->
							<xsd:element name="HD.3" type="ISO"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Sending facility -->
				<xsd:element name="MSH.4">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Sender Constant PremID or Non-producer participant ID -->
							<xsd:element name="HD.1" type="nonNullString"/>
							<!-- Sender Constant 2.16.840.1.113883.3.5.6.1.[1 or 4] (PIN or NPPN) -->
							<!-- 04/29/2008 Slinke. Changed from type OID to enumerated list. -->
							<xsd:element name="HD.2" type="OID"/>
							<!-- NAHLN Constant ISO -->
							<xsd:element name="HD.3" type="ISO"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Receiving application -->
				<xsd:element name="MSH.5" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- NAHLN Application Abbrev -->
							<xsd:element name="HD.1" type="nonNullString"/>
							<!-- Lab OID or Lab NAHLN Application OID -->
							<xsd:element name="HD.2" type="OID"/>
							<!-- NAHLN Constant ISO -->
							<xsd:element name="HD.3" type="ISO"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Receiving facility -->
				<xsd:element name="MSH.6" minOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<!-- PIN or NPN of Lab -->
							<xsd:element name="HD.1" type="nonNullString"/>
							<!-- 2.16.840.1.113883.3.5.6.1.[1 or 4] (PIN or NPPN) -->
							<xsd:element name="HD.2" type="OID"/>
							<!-- NAHLN Constant ISO -->
							<xsd:element name="HD.3" type="ISO"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Insert date/time of message as YYYYMMDDHHMMSS-ZZZZ -->
				<xsd:element name="MSH.7" type="DateTime" minOccurs="1"/>
				<!-- HL7 Message type -->
				<xsd:element name="MSH.9" minOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<!-- NAHLN Constant OPL -->
							<xsd:element name="MSG.1" minOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="nonNullString">
										<xsd:enumeration value="OPL"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- NAHLN Constant O37 -->
							<xsd:element name="MSG.2" minOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="nonNullString">
										<xsd:enumeration value="O37"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- NAHLN Constant OPL_O37  -->
							<xsd:element name="MSG.3" minOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="nonNullString">
										<xsd:enumeration value="OPL_O37"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Insert lab identifier for message used to match up errors, etc.  -->
				<xsd:element name="MSH.10" type="nonNullString"/>
				<!-- Processing ID -->
				<xsd:element name="MSH.11">
					<xsd:complexType>
						<xsd:sequence>
							<!-- NAHLN Constant P, Production or D, Debugging or T, Training -->
							<xsd:element name="PT.1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="P"/>
										<!-- Production -->
										<xsd:enumeration value="D"/>
										<!-- Debugging -->
										<xsd:enumeration value="T"/>
										<!-- Training -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Version ID -->
				<xsd:element name="MSH.12">
					<xsd:complexType>
						<xsd:sequence>
							<!-- NAHLN Constant 2.6 -->
							<xsd:element name="VID.1" type="nonNullString"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Message profile -->
				<xsd:element name="MSH.21" minOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<!-- NAHLN Profile ID -->
							<xsd:element name="EI.1" minOccurs="1" type="nonNullString"/>
							<!-- NAHLN Constant OID for NAHLN Profile IDs 2.16.840.1.113883.3.5.9 -->
							<xsd:element name="EI.3" type="OID" minOccurs="0"/>
							<!-- NAHLN Constant ISO -->
							<xsd:element name="EI.4" type="ISO" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- END MSH -->
	<!-- Software: Defines each system handling the message one repeat per system.  If 
         only used for transmission, not required, e.g. cURL -->
	<xsd:element name="SFT">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Software Vendor -->
				<xsd:element name="SFT.1">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Vendor Name -->
							<xsd:element name="XON.1" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Version or Release -->
				<xsd:element name="SFT.2" type="xsd:string" minOccurs="0"/>
				<!-- Product Name -->
				<xsd:element name="SFT.3" type="xsd:string"/>
				<!-- Binary ID (Hash, checksum, etc.) -->
				<xsd:element name="SFT.4" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Roles used for Submitter, Collector, Premises, etc. 
	     One instance for submitter required.  Others may be required by lab or program -->
	<xsd:element name="ROL">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Role instance ID.  Identifier qualifying this person to participate in this role. -->
				<xsd:element name="ROL.1" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Identifier, participant number, etc. -->
							<xsd:element name="EI.1" type="nonNullString" minOccurs="1"/>
							<!-- Text namespace ID -->
							<xsd:element name="EI.2" type="xsd:string" minOccurs="0"/>
							<!-- OID of identifier system such as collection program -->
							<xsd:element name="EI.3" type="OID" minOccurs="0"/>
							<!-- NAHLN Constant "ISO" -->
							<xsd:element name="EI.4" type="ISO" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Action code.  NAHLN Constant "UC" for unchanged.  Do not assign roles here, simply report existing ones. -->
				<xsd:element name="ROL.2" type="nonNullString"/>
				<!-- Role -->
				<xsd:element name="ROL.3">
					<xsd:complexType>
						<xsd:sequence>
							<!-- NAHLN code for Role "SUB", "COL", "PREM", etc. -->
							<xsd:element name="CWE.1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="SUB"/>
										<!-- Submitter -->
										<xsd:enumeration value="COL"/>
										<!-- Collector -->
										<xsd:enumeration value="PREM"/>
										<!-- Source Premises -->
										<xsd:enumeration value="AT"/>
										<!-- Attending Veterinarian -->
										<xsd:enumeration value="PAR"/>
										<!-- Parent Company -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Spelled out role "Submitting Party", "Specimen Collector", "Source Premises", etc. -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "HL70443" User table with all local codes -->
							<xsd:element name="CWE.3">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="HL70443"/>
										<xsd:enumeration value="L"/> <!-- to allow current, incorrect, usage -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>	
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Role Person.  Who is the submitter, collector, etc.  Doesn't make sense for Premises but required placeholder -->
				<xsd:element name="ROL.4" minOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Person identifier -->
							<xsd:element name="XCN.1" type="xsd:string" minOccurs="0"/>
							<xsd:element name="XCN.2">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Last Name ("Not Applicable" for Premises) -->
										<xsd:element name="FN.1">
											<xsd:simpleType>
												<xsd:restriction base="nonNullString">
												<xsd:maxLength value="30"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- First Name -->
							<xsd:element name="XCN.3" type="xsd:string" minOccurs="0"/>
							<!-- Middle Name -->
							<xsd:element name="XCN.4" type="xsd:string" minOccurs="0"/>
							<!-- Name Suffix -->
							<xsd:element name="XCN.5" type="xsd:string" minOccurs="0"/>
							<!-- Assigning Authority -->
							<xsd:element name="XCN.9" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Text Namespace ID -->
										<xsd:element name="HD.1" type="xsd:string" minOccurs="0"/>
										<!-- OID of assigner of ID in XCN.1 -->
										<xsd:element name="HD.2" type="OID" minOccurs="0"/>
										<!-- NAHLN Constant "ISO" -->
										<xsd:element name="HD.3" type="ISO" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Address -->
				<xsd:element name="ROL.11" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="XAD.1">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Street Address -->
										<xsd:element name="SAD.1" type="nonNullString"/>
										<!-- Apartment number -->
										<xsd:element name="SAD.3" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Other designation -->
							<xsd:element name="XAD.2" type="xsd:string" minOccurs="0"/>
							<!-- City -->
							<xsd:element name="XAD.3" type="nonNullString"/>
							<!-- State (Two character abbreviation) -->
							<xsd:element name="XAD.4" type="StateCode"/>
							<!-- Zipcode -->
							<xsd:element name="XAD.5" type="ZIPCODE" minOccurs="0"/>
							<!-- Premises ID for PREM role only -->
							<xsd:element name="XAD.8" type="xsd:string" minOccurs="0"/>
							<!-- County -->
							<xsd:element name="XAD.9" type="xsd:string" minOccurs="0" nillable="true"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Phone -->
				<xsd:element name="ROL.12" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Use code: WPN, PRN, EMR, NET, etc. -->
							<xsd:element name="XTN.2">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="ASN"/>
										<!-- Answering Service Number -->
										<xsd:enumeration value="BPN"/>
										<!-- Beeper Number -->
										<xsd:enumeration value="EMR"/>
										<!-- Emergency Number -->
										<xsd:enumeration value="NET"/>
										<!-- Network (email) Address -->
										<xsd:enumeration value="ORN"/>
										<!-- Other Residence Number -->
										<xsd:enumeration value="PRN"/>
										<!-- Primary Residence Number -->
										<xsd:enumeration value="VHN"/>
										<!-- Vacation Home Number -->
										<xsd:enumeration value="WPN"/>
										<!-- Work Number -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Equipment type: PH Phone, FX Fax, Internet Email -->
							<xsd:element name="XTN.3">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="BP"/>
										<!-- Beeper -->
										<xsd:enumeration value="CP"/>
										<!-- Cellular Phone -->
										<xsd:enumeration value="FX"/>
										<!-- Fax -->
										<xsd:enumeration value="Internet"/>
										<!-- Internet Address, use only when XTN.2 is NET -->
										<xsd:enumeration value="MD"/>
										<!-- Modem -->
										<xsd:enumeration value="PH"/>
										<!-- Telephone -->
										<xsd:enumeration value="TDD"/>
										<!-- Telecommunications Device for the Deaf -->
										<xsd:enumeration value="TTY"/>
										<!-- Teletypewriter -->
										<xsd:enumeration value="X.400"/>
										<!-- X.400 email address, use only when XTN.2 is NET -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Email address -->
							<xsd:element name="XTN.4" type="xsd:string" minOccurs="0"/>
							<!-- Country code -->
							<xsd:element name="XTN.5" type="xsd:int" minOccurs="0"/>
							<!-- Area code -->
							<xsd:element name="XTN.6" type="AREACODE" minOccurs="0"/>
							<!-- Local number -->
							<xsd:element name="XTN.7" type="PHONENUMBER" minOccurs="0"/>
							<!-- Extension -->
							<xsd:element name="XTN.8" type="EXTENSION" minOccurs="0"/>
							<!-- Unformatted number if not parsable -->
							<xsd:element name="XTN.12" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Person location Used for premises ID -->
				<xsd:element name="ROL.13" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Location Type "P" (User defined table definition for Production Unit, See 
								implementation guide for additional values.) -->
							<xsd:element name="PL.6" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="C"/>
										<!-- Clinic -->
										<xsd:enumeration value="E"/>
										<!-- Exhibition -->
										<xsd:enumeration value="L"/>
										<!-- Laboratory -->
										<xsd:enumeration value="M"/>
										<!-- Market/Collection Point -->
										<xsd:enumeration value="P"/>
										<!-- Production Unit -->
										<xsd:enumeration value="B"/>
										<!-- Port of Entry -->
										<xsd:enumeration value="Q"/>
										<!-- Quarantine Facility -->
										<xsd:enumeration value="S"/>
										<!-- Slaughter Plant -->
										<xsd:enumeration value="T"/>
										<!-- Tagging Site -->
										<xsd:enumeration value="R"/>
										<!-- Rendering -->
										<xsd:enumeration value="N"/>
										<!-- Non-producer Participant -->
										<xsd:enumeration value="LBM"/>
										<!-- Live Bird Market -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Location Description -->
							<xsd:element name="PL.9" type="xsd:string" minOccurs="0"/>
							<!-- Location Identifier -->
							<xsd:element name="PL.10" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Premises ID -->
										<xsd:element name="EI.1" type="nonNullString"/>
										<!-- NAHLN Constant PremID OID 2.16.840.1.113883.3.5.6.1.1-->
										<xsd:element name="EI.3" type="OID"/>
										<!-- NAHLN Constant "ISO" -->
										<xsd:element name="EI.4" type="ISO"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Guarantor also known as "Bill-To" -->
	<xsd:element name="GT1">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Set ID Required Default to "1" -->
				<xsd:element name="GT1.1" type="xsd:int"/>
				<!-- Guarantor number with assigning authority -->
				<xsd:element name="GT1.2" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Guarantor ID -->
							<xsd:element name="CX.1" type="xsd:string"/>
							<!-- Assigning authority either text (HD.1) or preferred OID (HD.2,3) -->
							<xsd:element name="CX.4">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Text value -->
										<xsd:element name="HD.1" type="xsd:string" minOccurs="0"/>
										<!-- OR OID plus "ISO" -->
										<xsd:element name="HD.2" type="OID" minOccurs="0"/>
										<xsd:element name="HD.3" type="ISO" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Name of Guarantor (Person) -->
				<xsd:element name="GT1.3" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Person identifier -->
							<xsd:element name="XPN.1" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Last Name -->
										<xsd:element name="FN.1">
											<xsd:simpleType>
												<xsd:restriction base="nonNullString">
												<xsd:maxLength value="30"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- First Name -->
							<xsd:element name="XPN.2" type="xsd:string" minOccurs="0"/>
							<!-- Middle Name -->
							<xsd:element name="XPN.3" type="xsd:string" minOccurs="0"/>
							<!-- Name Suffix -->
							<xsd:element name="XPN.4" type="xsd:string" minOccurs="0"/>
							<!-- Assigning Authority -->
							<xsd:element name="XPN.5" type="xsd:string" minOccurs="0"/>
							<!-- Name type code -->
							<xsd:element name="XPN.7" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Address(es) of Guarantor -->
				<xsd:element name="GT1.5" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="XAD.1">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Street Address -->
										<xsd:element name="SAD.1" type="nonNullString"/>
										<!-- Apartment number -->
										<xsd:element name="SAD.3" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Other designation -->
							<xsd:element name="XAD.2" type="xsd:string" minOccurs="0"/>
							<!-- City -->
							<xsd:element name="XAD.3" type="nonNullString"/>
							<!-- State (Two character abbreviation) -->
							<xsd:element name="XAD.4" type="StateCode"/>
							<!-- Zipcode -->
							<xsd:element name="XAD.5" type="ZIPCODE" minOccurs="0"/>
							<!-- Geocoordinates -->
							<xsd:element name="XAD.8" type="xsd:string" minOccurs="0"/>
							<!-- County -->
							<xsd:element name="XAD.9" type="xsd:string" minOccurs="0" nillable="true"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Guarantor Home Phone Number(s) and/or emails addresses -->
				<xsd:element name="GT1.6" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Use code: WPN, PRN, EMR, NET, etc. -->
							<xsd:element name="XTN.2">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="ASN"/>
										<!-- Answering Service Number -->
										<xsd:enumeration value="BPN"/>
										<!-- Beeper Number -->
										<xsd:enumeration value="EMR"/>
										<!-- Emergency Number -->
										<xsd:enumeration value="NET"/>
										<!-- Network (email) Address -->
										<xsd:enumeration value="ORN"/>
										<!-- Other Residence Number -->
										<xsd:enumeration value="PRN"/>
										<!-- Primary Residence Number -->
										<xsd:enumeration value="VHN"/>
										<!-- Vacation Home Number -->
										<xsd:enumeration value="WPN"/>
										<!-- Work Number -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Equipment type: PH Phone, FX Fax, Internet Email -->
							<xsd:element name="XTN.3">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="BP"/>
										<!-- Beeper -->
										<xsd:enumeration value="CP"/>
										<!-- Cellular Phone -->
										<xsd:enumeration value="FX"/>
										<!-- Fax -->
										<xsd:enumeration value="Internet"/>
										<!-- Internet Address, use only when XTN.2 is NET -->
										<xsd:enumeration value="MD"/>
										<!-- Modem -->
										<xsd:enumeration value="PH"/>
										<!-- Telephone -->
										<xsd:enumeration value="TDD"/>
										<!-- Telecommunications Device for the Deaf -->
										<xsd:enumeration value="TTY"/>
										<!-- Teletypewriter -->
										<xsd:enumeration value="X.400"/>
										<!-- X.400 email address, use only when XTN.2 is NET -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Email address -->
							<xsd:element name="XTN.4" type="xsd:string" minOccurs="0"/>
							<!-- Country code -->
							<xsd:element name="XTN.5" type="xsd:int" minOccurs="0"/>
							<!-- Area code -->
							<xsd:element name="XTN.6" type="AREACODE" minOccurs="0"/>
							<!-- Local number -->
							<xsd:element name="XTN.7" type="PHONENUMBER" minOccurs="0"/>
							<!-- Extension -->
							<xsd:element name="XTN.8" type="EXTENSION" minOccurs="0"/>
							<!-- Unformatted number if not parsable -->
							<xsd:element name="XTN.12" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Guarantor Business Phone Number(s) and/or emails addresses -->
				<xsd:element name="GT1.7" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Use code: WPN, PRN, EMR, NET, etc. -->
							<xsd:element name="XTN.2">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="ASN"/>
										<!-- Answering Service Number -->
										<xsd:enumeration value="BPN"/>
										<!-- Beeper Number -->
										<xsd:enumeration value="EMR"/>
										<!-- Emergency Number -->
										<xsd:enumeration value="NET"/>
										<!-- Network (email) Address -->
										<xsd:enumeration value="ORN"/>
										<!-- Other Residence Number -->
										<xsd:enumeration value="PRN"/>
										<!-- Primary Residence Number -->
										<xsd:enumeration value="VHN"/>
										<!-- Vacation Home Number -->
										<xsd:enumeration value="WPN"/>
										<!-- Work Number -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Equipment type: PH Phone, FX Fax, Internet Email -->
							<xsd:element name="XTN.3">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="BP"/>
										<!-- Beeper -->
										<xsd:enumeration value="CP"/>
										<!-- Cellular Phone -->
										<xsd:enumeration value="FX"/>
										<!-- Fax -->
										<xsd:enumeration value="Internet"/>
										<!-- Internet Address, use only when XTN.2 is NET -->
										<xsd:enumeration value="MD"/>
										<!-- Modem -->
										<xsd:enumeration value="PH"/>
										<!-- Telephone -->
										<xsd:enumeration value="TDD"/>
										<!-- Telecommunications Device for the Deaf -->
										<xsd:enumeration value="TTY"/>
										<!-- Teletypewriter -->
										<xsd:enumeration value="X.400"/>
										<!-- X.400 email address, use only when XTN.2 is NET -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Email address -->
							<xsd:element name="XTN.4" type="xsd:string" minOccurs="0"/>
							<!-- Country code -->
							<xsd:element name="XTN.5" type="xsd:int" minOccurs="0"/>
							<!-- Area code -->
							<xsd:element name="XTN.6" type="AREACODE" minOccurs="0"/>
							<!-- Local number -->
							<xsd:element name="XTN.7" type="PHONENUMBER" minOccurs="0"/>
							<!-- Extension -->
							<xsd:element name="XTN.8" type="EXTENSION" minOccurs="0"/>
							<!-- Unformatted number if not parsable -->
							<xsd:element name="XTN.12" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Guarantor type as string.  NOTE: Need to define value set for User table! 
				     I = Individual vs. O = Organization   seems to be implied in MWB  -->
				<xsd:element name="GT1.10" type="xsd:string" minOccurs="0"/>
				<!-- Guarantor business name -->
				<xsd:element name="GT1.21" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Actual business name goes here in only component used -->
							<xsd:element name="XON.1" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- END GT1 -->

	<!-- ORDER is roughly equivalent to the Accession Detail group in 
		the result message.  Repeats for each animal or pool. -->
	<xsd:element name="OPL_O37.ORDER">
		<xsd:complexType>
			<xsd:sequence>
				<!-- NK1 Represents the "Owner" who is the person most responsible for the animals or location being tested -->
				<!-- Really repeatable? One per relationship value. But then who is most responsible? -->
				<xsd:element ref="NK1" minOccurs="1" maxOccurs="unbounded"/>
				<xsd:element ref="OPL_O37.PATIENT" minOccurs="0"/>
				<!-- set to  in element definition below.-->
				<xsd:element ref="OPL_O37.SPECIMEN" maxOccurs="unbounded"/>
				<xsd:element ref="CTI" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- END OPL_O37.ORDER -->

	<!-- Next of Kin: Owner -->
	<xsd:element name="NK1">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Sequence ID: NAHLN Constant "1" -->
				<xsd:element name="NK1.1" type="xsd:int"/>
				<!-- Owner Name -->
				<xsd:element name="NK1.2" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="XPN.1" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Last name: "Not Provided" as default if not provided or known -->
										<xsd:element name="FN.1" type="nonNullString"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- First Name -->
							<xsd:element name="XPN.2" type="xsd:string" minOccurs="0"/>
							<!-- Middle Name -->
							<xsd:element name="XPN.3" type="xsd:string" minOccurs="0"/>
							<!-- Name Suffix -->
							<xsd:element name="XPN.4" type="xsd:string" minOccurs="0"/>
							<!-- Name type code -->
							<xsd:element name="XPN.7" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Relationship -->
				<xsd:element name="NK1.3" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- NAHLN default "OWN" -->
							<xsd:element name="CNE.1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="ASC"/>
										<!-- Associate -->
										<xsd:enumeration value="EMC"/>
										<!-- Emergency Contact -->
										<xsd:enumeration value="GRD"/>
										<!-- Guardian -->
										<xsd:enumeration value="MGR"/>
										<!-- Manager -->
										<xsd:enumeration value="OWN"/>
										<!-- Owner -->
										<xsd:enumeration value="TRA"/>
										<!-- Trainer -->
										<xsd:enumeration value="UNK"/>
										<!-- Unknown -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- NAHLN default "Owner" -->
							<xsd:element name="CNE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "HL70063" -->
							<xsd:element name="CNE.3">
								<xsd:simpleType>
									<xsd:restriction base="nonNullString">
										<xsd:enumeration value="HL70063"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>

						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Owner Address -->
				<xsd:element name="NK1.4" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="XAD.1">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Street Address -->
										<xsd:element name="SAD.1" type="nonNullString" minOccurs="1"/>
										<!-- Apartment number -->
										<xsd:element name="SAD.3" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Other designation Address Line 2 -->
							<xsd:element name="XAD.2" type="xsd:string" minOccurs="0"/>
							<!-- City -->
							<xsd:element name="XAD.3" type="xsd:string" minOccurs="0"/>
							<!-- State (Two character abbreviation) -->
							<xsd:element name="XAD.4" type="StateCode" minOccurs="0"/>
							<!-- Zipcode -->
							<xsd:element name="XAD.5" type="ZIPCODE" minOccurs="0"/>
							<!-- Geocoordinates -->
							<xsd:element name="XAD.8" type="xsd:string" minOccurs="0"/>
							<!-- County code -->
							<xsd:element name="XAD.9" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Owner home phone(s) -->
				<xsd:element name="NK1.5" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Use code: PRN -->
							<xsd:element name="XTN.2" type="nonNullString"/>
							<!-- Equipment type: PH Phone, -->
							<xsd:element name="XTN.3" type="nonNullString"/>
							<!-- Email address -->
							<xsd:element name="XTN.4" type="xsd:string" minOccurs="0"/>
							<!-- Country code -->
							<xsd:element name="XTN.5" type="xsd:int" minOccurs="0"/>
							<!-- Area code -->
							<xsd:element name="XTN.6" type="xsd:int" minOccurs="0"/>
							<!-- Local number -->
							<xsd:element name="XTN.7" type="xsd:int" minOccurs="0"/>
							<!-- Extension -->
							<xsd:element name="XTN.8" type="xsd:int" minOccurs="0"/>
							<!-- Unformatted number if not parsable -->
							<xsd:element name="XTN.12" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Owner business phone(s) -->
				<xsd:element name="NK1.6" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Use code: WPN -->
							<xsd:element name="XTN.2" type="nonNullString"/>
							<!-- Equipment type: PH Phone -->
							<xsd:element name="XTN.3" type="nonNullString"/>
							<!-- Email address -->
							<xsd:element name="XTN.4" type="xsd:string" minOccurs="0"/>
							<!-- Country code -->
							<xsd:element name="XTN.5" type="xsd:int" minOccurs="0"/>
							<!-- Area code -->
							<xsd:element name="XTN.6" type="xsd:int" minOccurs="0"/>
							<!-- Local number -->
							<xsd:element name="XTN.7" type="xsd:int" minOccurs="0"/>
							<!-- Extension -->
							<xsd:element name="XTN.8" type="xsd:int" minOccurs="0"/>
							<!-- Unformatted number if not parsable -->
							<xsd:element name="XTN.12" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Owner business name -->
				<xsd:element name="NK1.13" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Business Name -->
							<xsd:element name="XON.1" type="nonNullString"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Owner primary language -->
				<xsd:element name="NK1.20" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Code See list of ISO abbreviations in implementation guide -->
							<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
							<!-- Text -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- Code System -->
							<xsd:element name="CWE.3" type="xsd:string" minOccurs="0"/>
							<!-- Alt Code -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Alt Text -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- Alt Code System -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original Text -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- PATIENT has one segment with only a few fields only species is critical here.  Production class is required by may be Unknown -->
	<xsd:element name="OPL_O37.PATIENT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PID">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Patient Identifier(s) at least one required by HL7 -->
							<xsd:element name="PID.3" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Identifier (AIN or GIN preferred) -->
										<xsd:element name="CX.1" type="nonNullString"/>
										<!-- Assigning Authority -->
										<xsd:element name="CX.4" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
												<!-- Either Text of Assigner here -->
												<xsd:element name="HD.1" type="xsd:string" minOccurs="0"/>
												<!-- OR OID of Assigner (preferred) here -->
												<xsd:element name="HD.2" type="OID" minOccurs="0"/>
												<!-- If above is an OID, this is "ISO" if text, omit HD.3 -->
												<xsd:element name="HD.3" type="ISO" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<!-- Type code for type of ID such as eartag, microchip, etc. -->
										<xsd:element name="CX.5" type="IDType" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Patient Name: required for HL7 but often not sent for NAHLN -->
							<xsd:element name="PID.5">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="XPN.1" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
												<!-- Family Name "Not Provided" in most cases or animal name if given -->
												<xsd:element name="FN.1" type="nonNullString"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<!-- Name type code -->
										<xsd:element name="XPN.7" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Date of birth to as much precision as known YYYYMMDD -->
							<xsd:element name="PID.7" type="CondDateTime" minOccurs="0"/>
							<!-- Administrative Sex (F,S,M,C,U, or X See Implementation Guide)-->
							<xsd:element name="PID.8" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="F"/>
										<!-- Female -->
										<xsd:enumeration value="S"/>
										<!-- Neutered Female -->
										<xsd:enumeration value="M"/>
										<!-- Male -->
										<xsd:enumeration value="C"/>
										<!-- Neutered Male -->
										<xsd:enumeration value="U"/>
										<!-- Gender Unknown -->
										<xsd:enumeration value="X"/>
										<!-- Multiple Genders -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Race: Used for color or markings in NAHLN -->
							<xsd:element name="PID.10" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Code -->
										<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
										<!-- Text -->
										<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
										<!-- Code System -->
										<xsd:element name="CWE.3" type="xsd:string" minOccurs="0"/>
										<!-- Alt Code -->
										<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
										<!-- Alt Text -->
										<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
										<!-- Alt Code System -->
										<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
										<!-- Original Text -->
										<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Patient Address -->
							<xsd:element name="PID.11" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Street Address -->
										<xsd:element name="XAD.1" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
												<!-- Street Address -->
												<xsd:element name="SAD.1" type="nonNullString"/>
												<!-- Apartment number -->
												<xsd:element name="SAD.3" type="xsd:string"
												minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<!-- Other designation -->
										<xsd:element name="XAD.2" type="xsd:string" minOccurs="0"/>
										<!-- City -->
										<xsd:element name="XAD.3" type="xsd:string" minOccurs="0"/>
										<!-- State (Two character abbreviation) -->
										<xsd:element name="XAD.4" type="StateCode" minOccurs="0"/>
										<!-- Zipcode -->
										<xsd:element name="XAD.5" type="ZIPCODE" minOccurs="0"/>
										<!-- Premises ID  -->
										<xsd:element name="XAD.8" type="xsd:string" minOccurs="0"/>
										<!-- County:  Not in result.  Should be in my opinion -->
										<xsd:element name="XAD.9" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Birthplace (State) Not in Result Message. Should be?-->
							<xsd:element name="PID.23" type="StateCode" minOccurs="0"/>
							<!-- Date and time of death to as much precision as 
								known YYYYMMDDHHMM-ZZZZ -->
							<xsd:element name="PID.29" type="DateTime" minOccurs="0"/>
							<!-- Patient death indicator: "Y" if death, normally 
								omitted but my be "N" for live prior to testing -->
							<xsd:element name="PID.30" type="YN" minOccurs="0"/>
							<!-- Identity unknown indicator: "Y" for John Doe's, 
								normally omitted but may be set to "N" -->
							<xsd:element name="PID.31" type="YN" minOccurs="0"/>
							<!-- Taxonomic classification -->
							<xsd:element name="PID.35" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<!-- SNOMED Code -->
										<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
										<!-- SNOMED Preferred Name -->
										<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
										<!-- NAHLN Constant "SCT" -->
										<xsd:element name="CWE.3" type="SCT" minOccurs="0"/>
										<!-- Alt Code -->
										<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
										<!-- Alt Text -->
										<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
										<!-- Alt Code System -->
										<xsd:element name="CWE.6" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
												<xsd:enumeration value="L"/>
												<!-- Local Code -->
												<xsd:enumeration value="NAIS"/>
												<!-- NAIS Species Code -->
												<xsd:enumeration value="WS"/>
												<!-- Wildlife Services Species Code -->
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<!-- Original Text -->
										<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Strain -->
							<xsd:element name="PID.37" type="xsd:string" minOccurs="0"/>
							<!-- Production Class -->
							<xsd:element name="PID.38" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Production Type Code -->
										<xsd:element name="CWE.1" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
												<xsd:enumeration value="BR"/>
												<!-- Breeding/genetic shock -->
												<xsd:enumeration value="CP"/>
												<!-- Companion -->
												<xsd:enumeration value="DA"/>
												<!-- Dairy -->
												<xsd:enumeration value="DR"/>
												<!-- Draft -->
												<xsd:enumeration value="DU"/>
												<!-- Dual Purpose -->
												<xsd:enumeration value="EX"/>
												<!-- Exhibition -->
												<xsd:enumeration value="FB"/>
												<!-- Fiber -->
												<xsd:enumeration value="LY"/>
												<!-- Layer, including multiplier flocks -->
												<xsd:enumeration value="MP"/>
												<!-- Multiple Purpose -->
												<xsd:enumeration value="MT"/>
												<!-- Meat -->
												<xsd:enumeration value="NA"/>
												<!-- Not Applicable -->
												<xsd:enumeration value="NP"/>
												<!-- Non-Physical Product Production -->
												<xsd:enumeration value="OR"/>
												<!-- Ornamental -->
												<xsd:enumeration value="OT"/>
												<!-- Ither -->
												<xsd:enumeration value="PP"/>
												<!-- Physical Product Production -->
												<xsd:enumeration value="PL"/>
												<!-- Pleasure -->
												<xsd:enumeration value="RA"/>
												<!-- Racing -->
												<xsd:enumeration value="SH"/>
												<!-- Show -->
												<xsd:enumeration value="SV"/>
												<!-- Service -->
												<xsd:enumeration value="U"/>
												<!-- Unknown -->
												<xsd:enumeration value="WI"/>
												<!-- Wildlife -->
												<xsd:enumeration value="Z"/>
												<!-- Zoo -->
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<!-- Text -->
										<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
										<!-- NAHLN Constant  "HL70429" -->
										<xsd:element name="CWE.3" minOccurs="0">
											<xsd:simpleType>
												<xsd:restriction base="nonNullString">
												<xsd:enumeration value="HL70429"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<!-- Alt Code -->
										<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
										<!-- Alt Text -->
										<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
										<!-- Alt Code System -->
										<xsd:element name="CWE.6" type="Local" minOccurs="0"/>
										<!-- Original Text -->
										<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Observations on the patient.  Note: In the result message this is a
					PATIENT_OBSERVATION group in the Order there is no group.  The OBX repeats
				    if necessary -->
				<xsd:element name="OBX" type="PATIENT.OBX" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- END PATIENT -->

	<xsd:complexType name="PATIENT.OBX">
		<xsd:sequence>
			<!-- Currently NAHLN constant "NM" but schema supports other value types FUO -->
			<xsd:element name="OBX.2" type="nonNullString"/>
			<!-- Observation Identifier -->
			<xsd:element name="OBX.3">
				<xsd:complexType>
					<xsd:sequence>
						<!-- 09/17/2007 SGL Changed .1, .2 and .3 from CWE to CNE per 2_1 schema changes requested by MKM -->
						<!-- Loinc code for observation on patient" -->
						<xsd:element name="CWE.1" type="nonNullString" minOccurs="0"/>
						<!-- Loing short name" -->
						<xsd:element name="CWE.2" type="nonNullString" minOccurs="0"/>
						<!-- NAHLN Constant "LN" -->
						<xsd:element name="CWE.3" type="LN" minOccurs="0"/>
						<!-- Alternate codes not currently allowed here in Result message -->
						<!-- Alt Code -->
						<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
						<!-- Alt Text -->
						<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
						<!-- Alt Code System -->
						<xsd:element name="CWE.6" type="Local" minOccurs="0"/>
						<!-- Original Text -->
						<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- for use in multi-part observations -->
			<xsd:element name="OBX.4" type="xsd:string" minOccurs="0"/>
			<!-- Observation Value -->
			<xsd:element name="OBX.5">
				<!-- Our definition of ANY because this may support various types of observations about the patient -->
				<!-- mixed="true" allows for ST and NM types -->
				<xsd:complexType mixed="true">
					<xsd:sequence>
						<!-- Comparator: =, <, <=, >, >= -->
						<xsd:element name="SN.1" type="xsd:string" minOccurs="0"/>
						<!-- Number 1 -->
						<xsd:element name="SN.2" type="xsd:string" minOccurs="0"/>
						<!-- Separator: :, -, etc.-->
						<xsd:element name="SN.3" type="xsd:string" minOccurs="0"/>
						<!-- Number 2 -->
						<xsd:element name="SN.4" type="xsd:string" minOccurs="0"/>
						<!-- Code -->
						<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
						<!-- Text -->
						<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
						<!-- Code System -->
						<xsd:element name="CWE.3" type="xsd:string" minOccurs="0"/>
						<!-- Alt Code -->
						<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
						<!-- Alt Text -->
						<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
						<!-- Alt Code System -->
						<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
						<!-- Original Text -->
						<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Units if applicable -->
			<xsd:element name="OBX.6" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<!-- Units Code -->
						<xsd:element name="CWE.1" type="nonNullString"/>
						<!-- Units Text -->
						<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
						<!-- NAHLN constant "ISO" -->
						<xsd:element name="CWE.3" type="ISO"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Abnormal Flags: Interpretation (See Implementation Guide for Codes) -->
			<xsd:element name="OBX.8" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<!-- NAHLN Constant "F" Only final results messaged -->
			<xsd:element name="OBX.11" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="nonNullString">
						<xsd:enumeration value="F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Date/Time of observation YYYYMMDDHHMMSS-ZZZZ 
				This represents the physiologically significant time of the observation which for lab tests equals the 
				specimen collection date/time and is therefore redundant.	-->
			<xsd:element name="OBX.14" type="DateTime" minOccurs="0"/>
			<!-- Method: Identifies specific NAHLN method version or for future use, local method -->
			<xsd:element name="OBX.17" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<!-- OID for method -->
						<xsd:element name="CWE.1" type="OID" minOccurs="0"/>
						<!-- Text for method -->
						<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
						<!-- NAHLN Constant "ISO" -->
						<xsd:element name="CWE.3" type="ISO" minOccurs="0"/>
						<!-- Alternate code for method -->
						<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
						<!-- Alternate text for method -->
						<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
						<!-- "L" for local code in most cases -->
						<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
						<!-- Original text -->
						<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Date/Time of analysis (when test was set up) YYYYMMDDHHMMSS-ZZZZ -->
			<xsd:element name="OBX.19" minOccurs="0" type="CondDateTime"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="OPL_O37.SPECIMEN">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Specimen Segment -->
				<xsd:element ref="SPM"/>
				<!-- Zero or more observations on the specimen
				     Unlike the Result the SPECIMEN.OBX is not in a group -->
				<xsd:element name="OBX" type="SPECIMEN.OBX" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="OPL_O37.CONTAINER" minOccurs="0"/>
				<xsd:element ref="OPL_O37.OBSERVATION_REQUEST" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SPM">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Specimen Identifier -->
				<xsd:element name="SPM.2">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Placer specimen ID -->
							<xsd:element name="EIP.1" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Placer Assigned specimen id for specimen or pool -->
										<xsd:element name="EI.1" minOccurs="1" maxOccurs="1">
											<xsd:simpleType>
												<xsd:restriction base="nonNullString">
												<xsd:maxLength value="32"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<!-- Text for placer ID numbering system -->
										<xsd:element name="EI.2" type="xsd:string" minOccurs="0"/>
										<!-- Or Lab Constant either Lab OID or Lab OID for placer specimen IDs -->
										<xsd:element name="EI.3" type="OID" minOccurs="0"/>
										<!-- If above is an OID, "ISO" otherwise omit -->
										<xsd:element name="EI.4" type="ISO" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Filler (Lab) assigned ID 
							     Used for referral tests to carry original lab's ID (debatable usage IMHO) -->
							<xsd:element name="EIP.2" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Lab Assigned specimen id for specimen or pool -->
										<xsd:element name="EI.1" type="nonNullString"/>
										<!-- Text namespace ID -->
										<xsd:element name="EI.2" type="xsd:string" minOccurs="0"/>
										<!-- Lab Constant either Lab OID or Lab OID for specimen IDs -->
										<xsd:element name="EI.3" type="OID" minOccurs="0"/>
										<!-- NAHLN Constant "ISO" -->
										<xsd:element name="EI.4" type="ISO" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Specimen Type -->
				<xsd:element name="SPM.4">
					<xsd:complexType>
						<xsd:sequence>
							<!-- SNOMED code for specimen type-->
							<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
							<!-- SNOMED text for specimen type -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "SCT" -->
							<xsd:element name="CWE.3" type="SCT" minOccurs="0"/>
							<!-- Local code -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Local Text: -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original text -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Specimen Type Modifier -->
				<xsd:element name="SPM.5" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- SNOMED code for specimen type modifier -->
							<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"
								nillable="true"/>
							<!-- SNOMED text for specimen type -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"
								nillable="true"/>
							<!-- NAHLN Constant "SCT" -->
							<xsd:element name="CWE.3" type="SCT" minOccurs="0"/>
							<!-- Local code -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Local Text: -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original text -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"
								nillable="true"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Specimen Additives -->
				<xsd:element name="SPM.6" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<!-- SNOMED code for specimen additive-->
							<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
							<!-- SNOMED text for specimen additive -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "HL70371" -->
							<xsd:element name="CWE.3">
								<xsd:simpleType>
									<xsd:restriction base="nonNullString">
										<xsd:enumeration value="HL70371"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Local code -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Local Text: -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original text -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Specimen Source Site -->
				<xsd:element name="SPM.8" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- SNOMED code for specimen source site-->
							<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
							<!-- SNOMED text for specimen source site -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "SCT" -->
							<xsd:element name="CWE.3" type="SCT" minOccurs="0"/>
							<!-- Local code -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Local Text: -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original text -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Specimen Source Site Modifier -->
				<xsd:element name="SPM.9" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- SNOMED code for specimen source site modifier -->
							<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"
								nillable="true"/>
							<!-- SNOMED text for specimen source site -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"
								nillable="true"/>
							<!-- NAHLN Constant "SCT" -->
							<xsd:element name="CWE.3" type="SCT" minOccurs="0"/>
							<!-- Local code -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Local Text: -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original text -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"
								nillable="true"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Specimen Role: Patient sample, pool, grouped specimen, etc. -->
				<xsd:element name="SPM.11">
					<xsd:complexType>
						<xsd:sequence>
							<!-- NAHLN "P" Patient, "L" Pool, "G" Group -->
							<xsd:element name="CWE.1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="P"/>
										<!-- Patient -->
										<xsd:enumeration value="L"/>
										<!-- Pool -->
										<xsd:enumeration value="G"/>
										<!-- Group -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- NAHLN "Patient", "Pooled", or "Group" -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "HL70369" -->
							<xsd:element name="CWE.3">
								<xsd:simpleType>
									<xsd:restriction base="nonNullString">
										<xsd:enumeration value="HL70369"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Grouped Specimen Count -->
				<xsd:element name="SPM.13" type="xsd:int" minOccurs="0"/>
				<!-- Specimen Description -->
				<xsd:element name="SPM.14" type="xsd:string" minOccurs="0"/>
				<!-- Specimen Handling Code -->
				<xsd:element name="SPM.15" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- HL7 code for specimen handling code-->
							<xsd:element name="CWE.1" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="C37"/>
										<!-- Body temperature -->
										<xsd:enumeration value="AMB"/>
										<!--  Ambient Temperature-->
										<xsd:enumeration value="CAMB"/>
										<!-- Critical ambient temperature -->
										<xsd:enumeration value="REF"/>
										<!-- Refrigerated Temperature -->
										<xsd:enumeration value="CREF"/>
										<!-- Critical Refrigerated Temperature -->
										<xsd:enumeration value="FRZ"/>
										<!-- Frozen Temperature -->
										<xsd:enumeration value="CFRZ"/>
										<!-- Critical Frozen Temperature -->
										<xsd:enumeration value="DFRZ"/>
										<!-- Deep Frozen -->
										<xsd:enumeration value="UFRZ"/>
										<!-- Ultra Frozen -->
										<xsd:enumeration value="NTR"/>
										<!-- Liquid Nitrogen -->
										<xsd:enumeration value="PRTL"/> 
										<!-- Protect From Light -->
										<xsd:enumeration value="CATM"/>
										<!-- Protect From Air -->
										<xsd:enumeration value="DRY"/>
										<!-- Dry -->
										<xsd:enumeration value="PSO"/>
										<!-- No Shock -->
										<xsd:enumeration value="PSA"/>
										<!-- Do Not Shake -->
										<xsd:enumeration value="UPR"/>
										<!-- Upright -->
										<xsd:enumeration value="MTLF"/>
										<!-- Metal Free -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- text for handling code -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "HL70396" -->
							<xsd:element name="CWE.3" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="HL70376"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Local code -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Local Text: -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original text -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Specimen Risk Code -->
				<xsd:element name="SPM.16" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- HL7 code for specimen risk code-->
							<xsd:element name="CWE.1" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="BIO"/>
										<!-- Biological -->
										<xsd:enumeration value="COR"/>
										<!-- Corrosive-->
										<xsd:enumeration value="ESC"/>
										<!-- Escape Risk -->
										<xsd:enumeration value="AGG"/>
										<!-- Aggressive -->
										<xsd:enumeration value="IFL"/>
										<!-- Material Danger Inflammable -->
										<xsd:enumeration value="EXP"/>
										<!-- Explosive -->
										<xsd:enumeration value="CFRZ"/>
										<!-- Material Danger Infectious -->
										<xsd:enumeration value="BHZ"/>
										<!-- Biohazard -->
										<xsd:enumeration value="INJ"/>
										<!-- Injury Hazard -->
										<xsd:enumeration value="POI"/>
										<!-- Poison -->
										<xsd:enumeration value="RAD"/> 
										<!-- Radioactive -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>							
							<!-- text for risk code -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "HL70489" -->
							<xsd:element name="CWE.3" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="HL70489"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Local code -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Local Text: -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original text -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Specimen Collection Date/Time: If available is the most important date/time for Epi -->
				<xsd:element name="SPM.17" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Start time used since collection is virtually instantaneous for our samples. YYYYMMDDHHMM-ZZZZ -->
							<xsd:element name="DR.1" type="nonNullString"/>
							<!-- For specimens collected over a defined period of time, e.g., 24 hour urine, this is the end
								time of the collection period and DR.1 is the start time. -->
							<xsd:element name="DR.2" type="nonNullString" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Specimen condition when sent -->
				<xsd:element name="SPM.24" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Code for specimen condition ( FROZ, COOL, etc, see Implementation Guide for Codes)-->
							<xsd:element name="CWE.1" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="AUT"/>
										<!-- Autolyzed -->
										<xsd:enumeration value="CLOT"/>
										<!-- Clotted -->
										<xsd:enumeration value="CON"/>
										<!-- Contaminated -->
										<xsd:enumeration value="COOL"/>
										<!-- Cool -->
										<xsd:enumeration value="FROZ"/>
										<!-- Frozen -->
										<xsd:enumeration value="HEM"/>
										<!-- Hemolyzed -->
										<xsd:enumeration value="LIVE"/>
										<!-- Live -->
										<xsd:enumeration value="ROOM"/>
										<!-- Room Temperature -->
										<xsd:enumeration value="SNR"/>
										<!-- Sample Not Received -->
										<xsd:enumeration value="WRM"/>
										<!-- Warm -->
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Text for specimen condition when sent -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "HL70493" -->
							<xsd:element name="CWE.3">
								<xsd:simpleType>
									<xsd:restriction base="nonNullString">
										<xsd:enumeration value="HL70493"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Local code -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Local Text: -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original text (only component used for now) -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- Number of Specimen Containers -->
				<xsd:element name="SPM.26" type="xsd:int" minOccurs="0"/>
				<!-- Container Type 
				     Need to define coding system and value set -->
				<xsd:element name="SPM.27" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- ? code for container type once available -->
							<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
							<!-- SNOMED text for container type -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "SCT" or other coding system once selected -->
							<xsd:element name="CWE.3" type="xsd:string" minOccurs="0"/>
							<!-- Local code -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Local Text: -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original text (only component used for now) -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- END SPM -->

	<xsd:complexType name="SPECIMEN.OBX">
		<xsd:sequence>
			<!-- NAHLN constant "NM" -->
			<xsd:element name="OBX.2" type="nonNullString"/>
			<xsd:element name="OBX.3">
				<xsd:complexType>
					<xsd:sequence>
						<!-- 09/17/2007 SGL Changed .1, .2 and .3 from CWE to CNE per 2_1 schema changes requested by MKM -->
						<!-- NAHLN Constant "42186-7" -->
						<xsd:element name="CWE.1" type="nonNullString"/>
						<!-- NAHLN Constant "Number Spec Recd XXX Qn" -->
						<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
						<!-- NAHLN Constant "LN" -->
						<xsd:element name="CWE.3" type="LN"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Subid used for grouping, etc.  here? -->
			<xsd:element name="OBX.4" type="xsd:string" minOccurs="0"/>
			<!-- This number represents the number of specimens pooled to make up the identified specimen submitted in SPM -->
			<xsd:element name="OBX.5" type="xsd:int"/>
			<xsd:element name="OBX.6" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<!-- Units Code -->
						<xsd:element name="CWE.1" type="nonNullString"/>
						<!-- Units Text -->
						<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
						<!-- NAHLN constant "ISO+" but may be "ANS+" or "UCUM" at some point -->
						<xsd:element name="CWE.3" type="UNITS"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Abnormal Flags: Interpretation (See Implementation Guide for Codes) -->
			<xsd:element name="OBX.8" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				<!-- NAHLN Constant "F" Only final results messaged -->
			<xsd:element name="OBX.11">
				<xsd:simpleType>
					<xsd:restriction base="nonNullString">
						<xsd:enumeration value="F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Date/Time of observation YYYYMMDDHHMMSS-ZZZZ 
				This represents the physiologically significant time of the observation which for lab tests equals the 
				specimen collection date/time and is therefore redundant.	-->
			<xsd:element name="OBX.14" type="DateTime" minOccurs="0"/>
			<!-- Method: Identifies specific NAHLN method version or for future use, local method -->
			<xsd:element name="OBX.17" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<!-- OID for method -->
						<xsd:element name="CWE.1" type="OID" minOccurs="0"/>
						<!-- Text for method -->
						<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
						<!-- NAHLN Constant "ISO" -->
						<xsd:element name="CWE.3" type="ISO" minOccurs="0"/>
						<!-- Alternate code for method -->
						<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
						<!-- Alternate text for method -->
						<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
						<!-- "L" for local code in most cases -->
						<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
						<!-- Original text -->
						<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Date/Time of analysis (when test was set up) YYYYMMDDHHMMSS-ZZZZ -->
			<xsd:element name="OBX.19" minOccurs="0" type="CondDateTime"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="OPL_O37.CONTAINER">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SAC">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SAC.1" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- External Accession ID -->
										<xsd:element name="EI.1" type="nonNullString"/>
										<!-- Namespace of assigner of External Accession ID if no OID -->
										<xsd:element name="EI.2" type="nonNullString" minOccurs="0"/>
										<!-- OID for program assigning External Accession ID-->
										<xsd:element name="EI.3" type="OID" minOccurs="0"/>
										<!-- NAHLN Constant "ISO" -->
										<xsd:element name="EI.4" type="ISO" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Container ID, Identifies the specific tube, bag, etc., that contains the specimen 
							     This will in most cases be a barcode -->
							<xsd:element name="SAC.3" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Container ID -->
										<xsd:element name="EI.1" type="nonNullString"/>
										<!-- Namespace of assigner of Container ID if no OID -->
										<xsd:element name="EI.2" type="nonNullString" minOccurs="0"/>
										<!-- OID for program assigning External Accession ID-->
										<xsd:element name="EI.3" type="OID" minOccurs="0"/>
										<!-- NAHLN Constant "ISO" -->
										<xsd:element name="EI.4" type="ISO" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Carrier Type, Identifies the type of rack, case, etc., that contains the container -->
							<xsd:element name="SAC.9" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Code for carrier type (Source?) -->
										<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
										<!-- Text -->
										<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
										<!-- Code System -->
										<xsd:element name="CWE.3" type="xsd:string" minOccurs="0"/>
										<!-- Local code -->
										<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
										<!-- Local Text: -->
										<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
										<!-- NAHLN Constant "L" -->
										<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
										<!-- Original Text -->
										<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Carrier ID Identifies the specific rack, case, etc., that contains the container -->
							<xsd:element name="SAC.10" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Container ID -->
										<xsd:element name="EI.1" type="nonNullString"/>
										<!-- Namespace of assigner of Container ID if no OID -->
										<xsd:element name="EI.2" type="nonNullString" minOccurs="0"/>
										<!-- OID for program assigning External Accession ID-->
										<xsd:element name="EI.3" type="OID" minOccurs="0"/>
										<!-- NAHLN Constant "ISO" -->
										<xsd:element name="EI.4" type="ISO" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- CONTAINER.OBX will go here if needed -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Each order on the same specimen forms a repeat of this group. -->
	<xsd:element name="OPL_O37.OBSERVATION_REQUEST">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Additional order information (Once was Common to a set of orders, thus the name Order Common or ORC) 
				     Note that in the Order message the order of ORC and OBR is reversed making ORC required -->
				<xsd:element name="ORC" minOccurs="1"> <!-- Note: No longer optional -->
					<xsd:complexType>
						<xsd:sequence>
							<!-- NAHLN constant (for new orders at least)  "NW" 
								This field is more complicated than it looks.  The first electronic message with this order
								should be flagged NW for new.  Subsequent messages will be SC for status change.
								When sending results for which there is no corresponding electronic order message,
								this field is NW.  If responding to an electronic order (still call "unsolicited in HL7-speak)
								this will be SC.							-->
							<xsd:element name="ORC.1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="NW"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- Placer Group Number: Used for referral numbers, etc. -->
							<xsd:element name="ORC.4" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Referral Number -->
										<xsd:element name="EI.1" type="nonNullString"/>
										<!-- Text namespace ID -->
										<xsd:element name="EI.2" type="xsd:string" minOccurs="0"/>
										<!-- Referral Number Assigner OID
											As a workable default for now assume all referral numbers
											have been issued by the NAHLN so the OID is 
											2.16.840.1.113883.3.5.1.8  -->
										<xsd:element name="EI.3" type="xsd:string" minOccurs="0"/>
										<!-- NAHLN Constant "ISO" -->
										<xsd:element name="EI.4" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Date/Time of transaction YYYYMMDDHHMMSS 
								Ideally reflects the time the results were available to send, not the time sent
								System time stamp will work -->
							<xsd:element name="ORC.9" type="DateTime" minOccurs="0"/>
							<!-- Entering device: Used to record thing like MIM device used to 
							     record data for order -->
							<xsd:element name="ORC.18" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Code for device (Source?) -->
										<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
										<!-- Text -->
										<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
										<!-- Code System -->
										<xsd:element name="CWE.3" type="xsd:string" minOccurs="0"/>
										<!-- Local code -->
										<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
										<!-- Local Text: -->
										<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
										<!-- NAHLN Constant "L" -->
										<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
										<!-- Original Text -->
										<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- General order information -->
				<xsd:element name="OBR">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Placer Order Number -->
							<xsd:element name="OBR.2" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Order number as received from field -->
										<xsd:element name="EI.1" type="nonNullString" minOccurs="1"/>
										<!-- Either text of placer order number system -->
										<xsd:element name="EI.2" type="xsd:string" minOccurs="0"/>
										<!-- Or OID for placer order number system -->
										<xsd:element name="EI.3" type="OID" minOccurs="0"/>
										<!-- If OID, this is "ISO" otherwise omitted -->
										<xsd:element name="EI.4" type="ISO" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Order Service Identifier -->
							<xsd:element name="OBR.4">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Loinc code for order if one exists -->
										<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
										<!-- Loinc short name -->
										<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
										<!-- NAHLN Constant "LN" -->
										<xsd:element name="CWE.3" type="LN" minOccurs="0"/>
										<!-- Local code -->
										<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
										<!-- Local Text: -->
										<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
										<!-- "L" in most cases -->
										<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
										<!-- Original text  -->
										<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!-- Reason for study.  Will probably replace CTI and OBX on visit at some point! -->
							<xsd:element name="OBR.31">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Code for Reason for Study (Specfic testing program) -->
										<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
										<!-- Test name of program -->
										<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
										<!-- "L" for local code -->
										<xsd:element name="CWE.3" type="Local" minOccurs="0"/>
										<!-- Local code -->
										<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
										<!-- Local Text: -->
										<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
										<!-- NAHLN Constant "L" -->
										<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
										<!-- Original text  -->
										<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TQ1" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Priority as a SNOMED code -->
							<xsd:element name="TQ1.9">
								<xsd:complexType>
									<xsd:sequence>
										<!-- Snomed Code for Priority -->
										<!-- Need to enumerate values for this! -->
										<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
										<!-- Text -->
										<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
										<!-- Code System -->
										<xsd:element name="CWE.3" type="SCT" minOccurs="0"/>
										<!-- Local code -->
										<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
										<!-- Local Text: -->
										<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
										<!-- NAHLN Constant "L" -->
										<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
										<!-- Original Text -->
										<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- END ORDER Group -->
	<!-- CTI is used here not for clinical trial info but to mimic the Reason for Visit OBX 
		 in the Result message.  -->
	<xsd:element name="CTI">
		<xsd:complexType>
			<xsd:sequence>
				<!-- "Sponsor study ID" used to carry OID of testing program. -->
				<xsd:element name="CTI.1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="EI.1" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!-- "Study Phase" used here to carry the equivalent of VISIT.OBX.5 in Result -->
				<xsd:element name="CTI.2" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<!-- In normal usage CWE.1 - CWE.3 will be used and the rest not used
					the optionality is retained for future use and for unusual cases where
					the reson for visit is not anticipated by NAHLN codes. 
					This could need to be redefined as one of our ANY fields depending on future 
					uses of observation on the visit -->
							<!-- Result NAHLN code for reason for visit: S Surveillance, D Diagnostic, etc. -->
							<xsd:element name="CWE.1" type="xsd:string" minOccurs="0"/>
							<!-- Result Text: "Surveillance, etc." -->
							<xsd:element name="CWE.2" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.3" type="xsd:string" minOccurs="0"/>
							<!-- Local code for reason for visit: S Surveillance, D Diagnostic, etc. -->
							<xsd:element name="CWE.4" type="xsd:string" minOccurs="0"/>
							<!-- Local Result Text: "Surveillance, etc." -->
							<xsd:element name="CWE.5" type="xsd:string" minOccurs="0"/>
							<!-- NAHLN Constant "L" -->
							<xsd:element name="CWE.6" type="xsd:string" minOccurs="0"/>
							<!-- Original text of reason for visit -->
							<xsd:element name="CWE.9" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
